header {
    background-color: var(--bg-escuro);
    height: 8rem;
    width: 100vw;
}

header nav.menu {
    max-width: 1042px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
}

nav.menu div.menu-links {
    width: 34.4rem;
    gap: 3rem;
    display: flex;
    align-items: center;
}