footer {
    background-color: var(--bg-escuro);
}

footer div.footer__container {
    max-width: 1042px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.footer__logo p {
    color: var(--cor-secundaria);
}

div.footer__links {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.6rem;
}

h4.footer__links-titulo {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--cor-secundaria);
}

div.footer__links p, a {
    color: var(--cor-secundaria);
}

div.footer__links a:hover {
    text-decoration: underline;
    opacity: 0.9;
}