footer {
    height: 212px;
    padding: 0 1.4rem;
    background-color: var(--bg-escuro);
    display: flex;
    align-items: center;
}

footer div.footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1042px;
    margin: 0 auto;
    color: var(--cor-secundaria);
}

div.footer__content-height {
    height: 83px;
    justify-content: space-between;
}

div.footer__content-logo p {
    font-size: 1.6rem;
}

div.footer__content-links {
    text-align: center;
    display: flex;
    flex-direction: column;
}

div.footer__content-links p, a, h4 {
    font-size: 1.6rem;
    color: var(--cor-secundaria);
}

div.footer__content-links a:hover {
    text-decoration: underline;
    color: var(--cor-secundaria-escuro);
}

div.footer__content-links h4 {
    font-weight: 700;
    color: var(--cor-secundaria);
}

div.footer__copyright {
    background-color: var(--bg-claro);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

div.footer__copyright p, a {
    font-size: 1.6rem;
    color: var(--cor-secundaria);
}

div.footer__copyright a {
    text-decoration: underline;
}

div.footer__copyright a:hover {
    opacity: 0.9;
}